@if $use-grid == true {
	//------------------------------------
	//  GRID
	//------------------------------------
	.row {
		width: 100%;

		&:after {
			clear: both;
			content: " ";
			display: table;
		}
	}

	[class*='#{$column-prefix}'] {
		box-sizing: border-box;
		float: left;
		padding: 0;
		&.gutters-on{padding: 0 $gutters;}

		&.right { float: right; }

		$i: 1;
		@while $i <= $column-number {
			$perc: unquote((100 / ($column-number / $i)) + "%");
			&.l#{$i} {
				width: $perc;
				margin-left: 0;
			}
			$i: $i + 1;
		}
		$i: 1;
		@while $i <= $column-number {
			$perc: unquote((100 / ($column-number / $i)) + "%");
			&.offset-l#{$i} {
				margin-left: $perc;
			}
			$i: $i + 1;
		}

		@include breakpoint(medium, 'max') {
			$i: 1;
			@while $i <= $column-number {
				$perc: unquote((100 / ($column-number / $i)) + "%");
				&.m#{$i} {
					width: $perc;
					margin-left: 0;
				}
				$i: $i + 1;
			}
			$i: 1;
			@while $i <= $column-number {
				$perc: unquote((100 / ($column-number / $i)) + "%");
				&.offset-m#{$i} {
					margin-left: $perc;
				}
				$i: $i + 1;
			}
		}

		@include breakpoint(small, 'max') {
		// @media only screen and (min-width : 600px) {
			$i: 1;
			@while $i <= $column-number {
				$perc: unquote((100 / ($column-number / $i)) + "%");
				&.s#{$i} {
					width: $perc;
					margin-left: 0;
				}
				$i: $i + 1;
			}
			$i: 1;
			@while $i <= $column-number {
				$perc: unquote((100 / ($column-number / $i)) + "%");
				&.offset-s#{$i} {
					margin-left: $perc;
				}
				$i: $i + 1;
			}
		}

	}
}
