@charset "UTF-8";

//------------------------------------
//  HOME
//------------------------------------

html, body { background-color: #f1f1f1; }

header, .sidebar, .content, footer {
	background-color: #fff;
	box-shadow: 0 2px 1px #ddd;
	padding: 25px;
}

