<section class="categories">
	<ul>
		<li class="img_category_1">
			<span class="image"></span>
			<p class="title-cateogy">Camisetas</p>
		</li>
		<li class="img_category_2">
			<span class="image"></span>
			<p class="title-cateogy">Moletons</p>
		</li>
		<li class="img_category_3">
			<span class="image"></span>
			<p class="title-cateogy">Mochilas</p>
		</li>
		<li class="img_category_4">
			<span class="image"></span>
			<p class="title-cateogy">Carteiras</p>
		</li>
		<li class="img_category_5">
			<span class="image"></span>
			<p class="title-cateogy">Bonés</p>
		</li>
	</ul>
</section>