<footer>
	<ul>
		<li class="img_footer_left"><img src="img/img_footer_left.jpg"></img></li>
		<li class="img_footer_01"><img src="img/img_footer_01.jpg"></img></li>
		<li class="img_footer_02"><img src="img/img_footer_02.jpg"></img></li>
		<li class="img_footer_03"><img src="img/img_footer_03.jpg"></img></li>
		<li class="img_footer_04"><img src="img/img_footer_04.jpg"></img></li>
		<li class="img_footer_05"><img src="img/img_footer_05.jpg"></img></li>
		<li class="img_footer_06"><img src="img/img_footer_06.jpg"></img></li>
		<li class="img_footer_right"><img src="img/img_footer_right.jpg"></img></li>
	</ul>
</footer>

<script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="/js/app.min.js"></script>