<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="jussi.com.br">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>@@title</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" charset="utf-8">
		<!--[if lt IE 9]>
			<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<section class="container">
			<header class="text-center">
				<h1>
					@@pagetitle
				</h1>
			</header>

			<br />