@font-face {
	font-family: 'Neris';
	src: url('/dist/fonts/Neris-BlackItalic.eot');
	src: url('/dist/fonts/Neris-BlackItalic.woff2') format('woff2'),
	url('/dist/fonts/Neris-BlackItalic.woff') format('woff'),
	url('/dist/fonts/Neris-BlackItalic.ttf') format('truetype'),
	url('/dist/fonts/Neris-BlackItalic.eot?#iefix') format('embedded-opentype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Neris';
	src: url('/dist/fonts/Neris-BoldItalic.eot');
	src: url('/dist/fonts/Neris-BoldItalic.woff2') format('woff2'),
	url('/dist/fonts/Neris-BoldItalic.woff') format('woff'),
	url('/dist/fonts/Neris-BoldItalic.ttf') format('truetype'),
	url('/dist/fonts/Neris-BoldItalic.eot?#iefix') format('embedded-opentype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Neris';
	src: url('/dist/fonts/Neris-Light.eot');
	src: url('/dist/fonts/Neris-Light.woff2') format('woff2'),
	url('/dist/fonts/Neris-Light.woff') format('woff'),
	url('/dist/fonts/Neris-Light.ttf') format('truetype'),
	url('/dist/fonts/Neris-Light.eot?#iefix') format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Neris';
	src: url('/dist/fonts/Neris-LightItalic.eot');
	src: url('/dist/fonts/Neris-LightItalic.woff2') format('woff2'),
	url('/dist/fonts/Neris-LightItalic.woff') format('woff'),
	url('/dist/fonts/Neris-LightItalic.ttf') format('truetype'),
	url('/dist/fonts/Neris-LightItalic.eot?#iefix') format('embedded-opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Neris-SemiBold';
	src: url('/dist/fonts/Neris-SemiBold.eot');
	src: url('/dist/fonts/Neris-SemiBold.woff2') format('woff2'),
	url('/dist/fonts/Neris-SemiBold.woff') format('woff'),
	url('/dist/fonts/Neris-SemiBold.ttf') format('truetype'),
	url('/dist/fonts/Neris-SemiBold.eot?#iefix') format('embedded-opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Neris-SemiBoldItalic';
	src: url('/dist/fonts/Neris-SemiBoldItalic.eot');
	src: url('/dist/fonts/Neris-SemiBoldItalic.woff2') format('woff2'),
	url('/dist/fonts/Neris-SemiBoldItalic.woff') format('woff'),
	url('/dist/fonts/Neris-SemiBoldItalic.ttf') format('truetype'),
	url('/dist/fonts/Neris-SemiBoldItalic.eot?#iefix') format('embedded-opentype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Neris-Thin';
	src: url('/dist/fonts/Neris-Thin.eot');
	src: url('/dist/fonts/Neris-Thin.woff2') format('woff2'),
	url('/dist/fonts/Neris-Thin.woff') format('woff'),
	url('/dist/fonts/Neris-Thin.ttf') format('truetype'),
	url('/dist/fonts/Neris-Thin.eot?#iefix') format('embedded-opentype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Neris-ThinItalic';
	src: url('/dist/fonts/Neris-ThinItalic.eot');
	src: url('/dist/fonts/Neris-ThinItalic.woff2') format('woff2'),
	url('/dist/fonts/Neris-ThinItalic.woff') format('woff'),
	url('/dist/fonts/Neris-ThinItalic.ttf') format('truetype'),
	url('/dist/fonts/Neris-ThinItalic.eot?#iefix') format('embedded-opentype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Neris-Black';
	src: url('/dist/fonts/Neris-Black.eot');
	src: url('/dist/fonts/Neris-Black.woff2') format('woff2'),
	url('/dist/fonts/Neris-Black.woff') format('woff'),
	url('/dist/fonts/Neris-Black.ttf') format('truetype'),
	url('/dist/fonts/Neris-Black.eot?#iefix') format('embedded-opentype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Anurati-Regular';
	src: url('/dist/fonts/Anurati-Regular.eot');
	src: url('/dist/fonts/Anurati-Regular.woff2') format('woff2'),
	url('/dist/fonts/Anurati-Regular.woff') format('woff'),
	url('/dist/fonts/Anurati-Regular.ttf') format('truetype'),
	url('/dist/fonts/Anurati-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
}















